.game-page-summer {
  background-color: rgba(132, 181, 144, 0.7);
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 2vh 8vh 15vh 15vh 13vh 12vh 35vh;

}

.game-page-fall {
  background-color: rgba(65, 35, 4, 0.7);
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 2vh 11vh 7vh 15vh 13vh 12vh 35vh;

}

.entry-page-summer {
  background-color: rgba(143, 182, 66, 0.4);
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 100vh;
  font-size: 4.5em;

}

.entry-page-fall {
  background-color: rgba(105, 55, 17, 0.7);
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 100vh;
  font-size: 4.5em;

}

.modecircle {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  border: 3px dotted black;
  border-radius: 50%;
  background-color: rgb(7, 61, 108);
}

.mode {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 12px;
  margin: 10px 0px 0px 0px;
  color: yellow;
  grid-column-start: 1;
}

.titlesummer {
  font-size: 9em;
  grid-column: 2;
  text-align: center;
  padding: 0px 15px 0px 0px;
  font-family: 'Source Code Pro', monospace;
  margin: -80px 0px 0px 0px;
  letter-spacing: 0.2em;
  opacity: 0.2;
  color: rgb(135, 24, 215);
  text-shadow: 0 0 17px #a72222;
  animation: flicker 1s infinite alternate;
}

.title {
  font-size: 9em;
  grid-column: 2;
  text-align: center;
  padding: 0px 15px 0px 0px;
  font-family: 'Source Code Pro', monospace;
  margin: -80px 0px 0px 0px;
  letter-spacing: 0.2em;
  opacity: 0.2;
  text-shadow: 0 0 17px rgb(174, 29, 29);
  animation: flicker 1s infinite alternate;
}

.level {
  grid-column: 2;
  grid-row-start: 4;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  line-height: 1;
  margin: -50px 0px 0px 0px;
  text-shadow: 0 0 17px #e8dd09;
  opacity: 0.5;
  align-self: center;
}

.score {
  grid-column: 2;
  grid-row-start: 4;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  line-height: 1;
  text-shadow: 0 0 17px #e8dd09;
  margin: 25px 0px 0px 0px;
  opacity: 0.5;
  align-self: center;
}

.entry-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/1;
  opacity: 0.25;
  text-shadow: 0 0 17px #a72222;
}

.entry-title-fall {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5em;
  grid-row: 1/1;

}


.play {
  font-family: 'Source Code Pro', monospace;
  padding: 0px 15px 10px 15px;
  grid-column: 2/3;
  grid-row: 1/1;
  justify-self: center;
  align-self: center;
  color: rgb(216, 18, 18);
  z-index: 999;
  letter-spacing: 0.45em;
  margin: 0px 0px 0px 50px;
  animation: flicker 1s infinite alternate;
}

.play-fall {
  font-family: 'Source Code Pro', monospace;
  padding: 0px 15px 10px 15px;
  grid-column: 2/3;
  grid-row: 1/1;
  justify-self: center;
  align-self: center;
  text-shadow: 0 0 17px #dbd412;
  letter-spacing: 0.45em;
  margin: 0px 0px 0px 50px;
  color: rgb(95, 23, 5);
}

a {
  text-decoration: none;

}

span {
  opacity: 0.3;
}

.circle {
  width: 200px;
  height: 200px;
  opacity: 0.9;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 1/1;
  justify-self: center;
  align-self: center;
  background-color: rgba(245, 14, 214, 0.10)
}

.circle-fall {
  width: 200px;
  height: 200px;
  opacity: 0.9;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 1/1;
  justify-self: center;
  align-self: center;
  background-color: rgba(4, 87, 24, 0.1)
}

.user-buttons {
  grid-column: 2/3;
  grid-row: 7/span 1;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 1.5em;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 50px;
  letter-spacing: 0.5em;


}


.button1 {
  background-color: rgba(252, 59, 155, 1.0);
  border-radius: 50px 50px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 10px rgb(7, 157, 32);
}

.button2 {
  background-color: rgba(132, 26, 161, 1.0);
  border-radius: 50px 50px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 10px rgb(7, 157, 32);
}

.button3 {
  background-color: rgba(210, 237, 59, 1.0);
  border-radius: 50px 50px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 10px rgb(7, 157, 32);
}

.button4 {
  background-color: rgb(47, 203, 234);
  border-radius: 50px 50px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 10px rgb(7, 157, 32);
}

.button5 {
  background-color: rgba(246, 158, 5, 1.0);
  border-radius: 50px 50px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 10px rgb(7, 157, 32);
}

.button1fall {
  background-color: rgb(36, 61, 7);
  border-radius: 50px 50px;
  color: rgba(0, 0, 0, 0.0);
  opacity: 0.75;
  box-shadow: 0 0 5px rgb(174, 29, 29);
}

.button2fall {
  background-color: rgb(90, 7, 53);
  border-radius: 50px 50px;
  color: rgba(0, 0, 0, 0.0);
  opacity: 0.75;
  box-shadow: 0 0 5px rgb(174, 29, 29);
}

.button3fall {
  background-color: rgb(179, 128, 11);
  border-radius: 50px 50px;
  color: rgba(0, 0, 0, 0.0);
  opacity: 0.75;
  box-shadow: 0 0 5px rgb(174, 29, 29);
}

.button4fall {
  background-color: rgb(49, 46, 94);
  border-radius: 50px 50px;
  color: rgba(0, 0, 0, 0.0);
  opacity: 0.75;
  box-shadow: 0 0 5px rgb(174, 29, 29);
}

.button5fall {
  background-color: rgb(37, 24, 2);
  border-radius: 50px 50px;
  color: rgba(0, 0, 0, 0.0);
  opacity: 0.75;
  box-shadow: 0 0 5px rgb(174, 29, 29);
}


.zoom {
  padding: 10px 0px 10px 0px;
  transition: transform .2s;
  /* Animation */
  margin: 10px;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.sequence-display {
  grid-column-start: 2;
  grid-row-start: 5;

  display: inline;
}

.lights {
  grid-column: 2/3;
  grid-row: 5/span 1;
  display: flex;
  justify-content: space-around;

}

.light1 {
  width: 120px;
  height: 120px;
  background: rgb(252, 59, 155);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 5/6;
  justify-self: center;
  animation: '';
  box-shadow: 0 0 17px rgb(174, 29, 29);
}



.light2 {
  width: 120px;
  height: 120px;
  background: rgb(132, 26, 161);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: center;
  animation: '';
  box-shadow: 0 0 17px rgb(174, 29, 29);
}


.light3 {
  width: 120px;
  height: 120px;
  background: rgb(210, 237, 59);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 4/5;
  grid-row: 5/6;
  justify-self: center;
  animation: "";
  box-shadow: 0 0 17px rgb(174, 29, 29);

}


.light4 {
  width: 120px;
  height: 120px;
  background: rgb(47, 203, 234);
  opacity: 0.1;
  border-radius: 50%;
  border: 3px dotted black;
  animation: "";
  box-shadow: 0 0 17px rgb(174, 29, 29);

}

.light5 {
  width: 120px;
  height: 120px;
  background: rgb(246, 158, 5);
  opacity: 0.1;
  border-radius: 50%;
  border: 3px dotted black;
  animation: '';
  box-shadow: 0 0 17px rgb(174, 29, 29);

}

.next {
  font-family: 'Source Code Pro', monospace;
  font-size: 4.5em;
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
  opacity: 0.6;
  align-self: center;
  text-shadow: 0 0 17px rgb(174, 29, 29);
}

.success {
  font-family: 'Source Code Pro', monospace;
  font-size: 3em;
  grid-column: 2/3;
  grid-row: 6/7;
  text-align: center;
  color: rgb(76, 174, 76);
  opacity: 0.35;
  align-self: end;
}

.game-end-buttons {
  grid-row: 6/7;
  grid-column: 2/3;
  justify-self: center;
  text-align: center;
  font-size: 3.5em;
  font-family: 'Source Code Pro', monospace;
  margin: 35px 0px 0px 0px;

}

.YNOFF {
  background-color: rgba(131, 13, 13, 0.0);
  border: 4px dotted rgba(194, 174, 18, 0.0);
  color: rgba(194, 174, 18, 0.0);
  width: 150px;
  height: 75px;
  margin: 20px 0px 0px 0px;
  padding: 0px 10px;


}




.YNON {
  background-color: rgba(181, 199, 19, 0.2);
  border: 4px dotted rgba(36, 32, 2, 0.8);
  color: rgba(6, 6, 5, 0.8);
  width: 150px;
  height: 75px;
  margin: 0px;
  padding: 0px 10px;
  z-index: 999;

}


.light1fall {
  width: 120px;
  height: 120px;
  background: rgb(36, 61, 7);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 5/6;
  justify-self: center;
  animation: '';
  box-shadow: 0 0 17px rgb(174, 29, 29);
}



.light2fall {
  width: 120px;
  height: 120px;
  background: rgb(90, 7, 53);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: center;
  animation: '';
  box-shadow: 0 0 17px rgb(174, 29, 29);
}


.light3fall {
  width: 120px;
  height: 120px;
  background: rgb(179, 128, 11);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 4/5;
  grid-row: 5/6;
  justify-self: center;
  animation: "";
  box-shadow: 0 0 17px rgb(174, 29, 29);

}


.light4fall {
  width: 120px;
  height: 120px;
  background: rgb(49, 46, 94);
  opacity: 0.1;
  border-radius: 50%;
  border: 3px dotted black;
  animation: "";
  box-shadow: 0 0 17px rgb(174, 29, 29);

}

.light5fall {
  width: 120px;
  height: 120px;
  background: rgb(37, 24, 2);
  opacity: 0.1;
  border-radius: 50%;
  border: 3px dotted black;
  animation: '';
  box-shadow: 0 0 17px rgb(174, 29, 29);

}


@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px rgb(107, 21, 4),
      0 0 11px rgb(215, 78, 3),
      0 0 19px rgb(126, 4, 145),
      0 0 40px rgb(225, 218, 12),
      0 0 80px rgb(226, 172, 9),
      0 0 90px rgb(172, 78, 11),
      0 0 100px rgb(220, 80, 10),
      0 0 150px rgb(232, 162, 11);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}