#game-page {
  background-color: rgba(143, 182, 66, 0.5);
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 2vh 11vh 7vh 15vh 25vh 20vh 20vh;

}

.title {
  font-size: 6em;
  grid-column: 2;
  text-align: center;
  font-family: 'Nabla', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: -80px 0px 0px 0px;
  letter-spacing: 0.2em;
}

.level {
  grid-column: 2;
  grid-row-start: 3;
  text-align: center;
  font-family: 'Silkscreen', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1em;
  line-height: 1;
  margin: 15px 0px 0px 0px
}




.user-buttons {
  grid-column: 2/3;
  grid-row: 6/span 1;
  font-family: 'Silkscreen', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 50px;
  letter-spacing: 0.5em;


}


.button1 {
  background-color: rgb(252, 59, 155);
  border-radius: 15px 25px;
}

.button2 {
  background-color: rgb(132, 26, 161);
  border-radius: 15px 25px;
}

.button3 {
  background-color: rgb(210, 237, 59);
  border-radius: 15px 25px;
}

.button4 {
  background-color: rgb(47, 203, 234);
  border-radius: 15px 25px;
}

.button5 {
  background-color: rgb(246, 158, 5);
  border-radius: 15px 25px;
}

.zoom {
  padding: 10px 0px 10px 0px;
  transition: transform .2s;
  /* Animation */
  margin: 10px;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.entry-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'Nabla', cursive;

}

#entry {
  background-color: rgba(143, 182, 66, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  text-shadow: 5px 10px #f533db;
}

.play {
  font-family: 'Silkscreen';
  border: 15px double black;
  padding: 0px 15px 10px 15px;
}

.sequence-display {
  grid-column-start: 2;
  grid-row-start: 5;

  display: inline;
}

.lights {
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: space-evenly;
}

.pink {
  width: 100px;
  height: 100px;
  background: rgb(252, 59, 155);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 5/6;
  justify-self: center;
  animation: ''
}



.purple {
  width: 100px;
  height: 100px;
  background: rgb(132, 26, 161);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: center;
  animation: ''

}


.yellow {
  width: 100px;
  height: 100px;
  background: rgb(210, 237, 59);
  opacity: 0.1;
  border: 3px dotted black;
  border-radius: 50%;
  grid-column: 4/5;
  grid-row: 5/6;
  justify-self: center;
  animation: ""

}


.aqua {
  width: 100px;
  height: 100px;
  background: rgb(47, 203, 234);
  opacity: 0.1;
  border-radius: 50%;
  border: 3px dotted black;
  animation: ""

}

.orange {
  width: 100px;
  height: 100px;
  background: rgb(246, 158, 5);
  opacity: 0.1;
  border-radius: 50%;
  border: 3px dotted black;
  animation: ''

}

.next {
  font-family: 'Silkscreen', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5em;
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
}

.success {
  font-family: 'Silkscreen', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
  color: rgb(76, 174, 76);
  align-self: end;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}